<div class="row">
  <div class="col-md-6">
    <h1>No Completado</h1>
    <div class="cart jumbotron">
      <% @todos_nocompletados.each do |i|%>
        <p> <%= i.description %> </p>
      <% end %>
    </div>
  </div>
  <div class="col-md-6">
    <h1>Completado</h1>
      <div class="cart jumbotron">
        <% @todos_completados.each do |i|%>
          <p> <%= i.description %> </p>
        <% end %>
      </div>
    </div>
